.rylic__content__comment
  .rylic__content__comment__bar
    .rylic__content__comment__bar__white
    .rylic__content__comment__bar__squere
      %svg{src: "left_arrow.svg", viewbox: "0 0 10.87 21.32", xmlns: "http://www.w3.org/2000/svg"}
        %path{d: "M9.37 21.32L0 10.66 9.37 0l1.5 1.32-8.21 9.34L10.87 20l-1.5 1.32"}
  
  = form_with(model: Comment.new) do |form|
    .rylic__content__comment__main
      Please your interpretation!
      = form.text_field :music_id, type: "hidden", value:@song.id
      = form.text_area :content, class: 'rylic__content__comment__main__input'
      = form.submit value: "submit", class: 'rylic__content__comment__main__submit'
      
      //comment部分

      .rylic__content__comment__main__comments
        -# = render @comments
        -# = render partial: 'comment', collection: @comments
        = render partial: "/comments/comment",collection: @comments