.rylic
  = render 'songs/header'

  .rylic__top
    = image_tag(@song.album.images[0]["url"], height: '300px', width: '1440px', class: 'rylic__top__pic')
    
    .rylic__top__info
      = image_tag(@song.album.images[0]["url"], size: "220x220", class: 'rylic__top__info__pic')
      .rylic__top__info__content
        .rylic__top__info__content__title=@song.name
        .rylic__top__info__content__name
        .rylic__top__info__content__produce 
          .span.rylic__top__info__content__produce__by Produced by
          .span.rylic__top__info__content__produce__name
            -@song.artists.each do |e|
              =e.name 

        .rylic__top__info__content__album
          .span.rylic__top__info__content__album__topic Album
          .span.rylic__top__info__content__album__name=@song.album.name

  .rylic__content
    .rylic__content__main
      %pre
        = "#{@lyric}"
        
    = render partial: '/comments/comments'