.rylic
  = render 'songs/header'

  .rylic__top
    = image_tag "shade.jpg", height: '300px', width: '1440px', class: 'rylic__top__pic'
    
    .rylic__top__info
      = image_tag(@artist.images[0]["url"], size: "220x220", class: 'rylic__top__info__pic')

      -# = image_tag "shade.jpg", height: '220px', width: '220px', class: 'rylic__top__info__pic'
      .rylic__top__info__content
        .rylic__top__info__content__title shade
        .rylic__top__info__content__name
        -# - binding.pry
        .rylic__top__info__content__produce 
          .span.rylic__top__info__content__produce__by Produced by 
          .span.rylic__top__info__content__produce__name=@artist.name
        .rylic__top__info__content__album
          .span.rylic__top__info__content__album__topic Album
          .span.rylic__top__info__content__album__name=@artist.top_tracks(:US).first.name

  .rylic__content
    .rylic__content__main
      every day, every time
      今日もあっという間に　done
      何が成せたなんて
      おもわず　drunk and drunk
      くだらないジョーキング
      答えのないトーキング
      All day, all day　All night, all night

      始まりはそういつも暗いとこ
      這い上がる　なにも映らないとこ
      やけに明るい世界じゃ嘘のよう
      黒く汚れた心気の持ちよう
      振り替えればいつだって
      同じ失態ばかりで　でもこの情景が変わって
      たらきっとここには立ってない

      想定外　のtrouble　が招いてくチャンスを
      重ねていく　最後を
      笑っていたいんだ君と
      透明な世界も恐れないでいたいの
      元へ戻れなんて　望みなんかない

      every day, every time
      今日もあっという間に　done
      何が成せたなんて
      おもわず　drunk and drunk
      くだらないジョーキング
      答えのないトーキング
      All day, all day　All night, all night

      ねえ、なにが正しい
      もどかしい夜に限って
      皆忙しい揺れる　cell phone
      音求め　driving
      鈍る秒針　みんな忘れ　tripping
      どこまでも行こう
      君と過ごす　wonderland
      あの時からずっと
      変わってない　プラン

      想定外　のtrouble　が招いてくチャンスを
      僕らはまだ　知らずに
      目を背けて　透明な世界を
      恐れてるのかも　元へ戻れなんて

      溶けていく　night and day
      誰だって　悩んで
      僕らはまた　昨日を悔やんで
      All day, all day

      every day, every time
      今日もあっという間に　done
      何が成せたなんて
      おもわず　drunk and drunk
      くだらないジョーキング
      答えのないトーキング
      All day, all day　All night, all night

      every day, every time
      今日もあっという間に　done
      何が成せたなんておもわず　drunk and drunk
      くだらないジョーキング
      答えのないトーキング
      All day, all day　All night, all night




    .rylic__content__comment
      .rylic__content__comment__bar
        .rylic__content__comment__bar__white
        .rylic__content__comment__bar__squere
          %svg{src: "left_arrow.svg", viewbox: "0 0 10.87 21.32", xmlns: "http://www.w3.org/2000/svg"}
            %path{d: "M9.37 21.32L0 10.66 9.37 0l1.5 1.32-8.21 9.34L10.87 20l-1.5 1.32"}
      
      
      
      = form_with(model:[Comment.new]) do |form|
        .rylic__content__comment__main
          Please your interpretation!
          = form.text_field :music_id, type: "hidden", value:@artist.top_tracks(:US)[0].id
          = form.text_area :content, class: 'rylic__content__comment__main__input'
          = form.submit value: "submit", class: 'rylic__content__comment__main__submit'
          
          //comment部分

          .rylic__content__comment__main__comments
            -# = render @comments
            = render partial: "comment"
